<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:task="http://www.springframework.org/schema/task" 	xmlns:north="http://static.bucuoa.com/cutesource/schema/north"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
			http://static.bucuoa.com/cutesource/schema/north http://static.bucuoa.com/cutesource/schema/north/north.xsd"
	default-lazy-init="true">

	<north:application id="sns_home" key="3dff4ad316773jhfgf" />
	<north:registry id="registrycenter" type="westrpc" address="127.0.0.1" />
	<north:consumer id="userRpcService" timeout="3000" retries="5" url="192.168.1.110:14527" alias="no" interface="com.bucuoa.ucenter.api.UserRpcService" version="1.0" check="false" />
</beans>