<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ulewo.mapper.TaskMapper" >
  <resultMap id="base_result_map" type="com.ulewo.po.model.Task" >
     <id column="id" property="id"/>
     <result column="task_classz" property="taskClassz"/>
     <result column="task_method" property="taskMethod"/>
     <result column="task_time" property="taskTime" />
     <result column="last_update_time" property="lastupdateTime"/>
     <result column="status" property="taskStatus"  typeHandler="com.ulewo.po.handler.TaskStatusHandler"/>
     <result column="description" property="description"/>
  </resultMap>
  <sql id="base_column_list" >
     id,task_classz,task_method,task_time,last_update_time,status,description
  </sql>
  
  <sql id="base_condition" >
  	<where>
  		<if test="taskClassz != null and ''!=taskClassz">
					 and task_classz = #{taskClassz}
		</if>
		<if test="null!=taskMethod and ''!=taskMethod">
  			  and task_method = #{taskMethod}
		</if>
		<if test="null!=id">
			  and id = #{id}
		</if>
  	</where>
  </sql>
  
  <select id="selectList" resultMap="base_result_map">
  	select <include refid="base_column_list" />  from ulewo_task <include refid="base_condition"/>
  	order by last_update_time desc
  	<if test="page!= null "  >
        	limit #{page.start},#{page.end} 
    </if>
  </select>
  
  <select id="selectCount"  resultType="java.lang.Integer">
  	select count(1) from ulewo_task <include refid="base_condition"/>
  </select>
  
  <insert id="insert" parameterType="com.ulewo.po.model.Task">
		insert into ulewo_task(task_classz,task_method,task_time,last_update_time,description) values (#{taskClassz},#{taskMethod},#{taskTime},#{lastupdateTime},#{description})  
  </insert>
  
  <update id="update"  parameterType="com.ulewo.po.model.Task">
		update ulewo_task 
		<trim prefix="SET" suffixOverrides=","> 
			<if test="null!=taskTime and ''!=taskTime" >
			      task_time = #{taskTime},
			</if>
			<if test="null!=taskStatus" >
			      status = #{taskStatus.status},
			</if>
			<if test="null!=description and ''!=description ">
			      description = #{description},
			</if>
			<if test="null!=lastupdateTime" >
			      last_update_time = #{lastupdateTime}
			</if>
      	 </trim>
		where id = #{id}
  </update>
	
	<delete id="delete">
		delete from ulewo_task <include refid="base_condition"/>
	</delete>
</mapper>